/* primary: #00263a */
/* secondary: #68cbdf */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #68cbdf;
  background-image: url('//fastly.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68');
  border-image-width: auto;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  
  list-style: none;
  background-color: #00263a;
  
  padding-left: 0;
  margin: 0;
}

nav li {
  flex: auto;
}

nav a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

nav a:hover {
  background-color: #ffa400;
}